@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock'), local('Overlock'), url(Artista/The_Styles/Fonts/True_Type_Fonts/Overlock/Overlock-Regular.ttf) format('truetype');
}
