/*
 * Author: KyuubiKeith (BlerdCorps Minimalist Designs)
 * Version: 1.0
*/

/* ------------------------------------------------

- PreLoader
- Logo
- General
- Typography
- Sections
- Contact
------------------------------------------------ */

@import url(Artista/The_Styles/CSS/HavoxWorx.css);
@import url(../fonts/font-awesome-4.7.0/css/font-awesome.min.css);

/* -----------------------------------------------------------------
    - Preloader
----------------------------------------------------------------- */
.preLoader {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: black;
    color: white;
	text-align: center;
	z-index: 200;
}

.preLoader span {
	opacity: 0;
	font-size: 24px;
	font-weight: 300;
}

/* -----------------------------------------------------------------
    - Logo
----------------------------------------------------------------- */
div.logo {
    width: 500px;
    height: 300px;
    margin-left: auto; 
    margin-right: auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-image: url("../../The_Elements/Images/SVG/Code.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

@media only screen and (max-width: 800px) {
    div.logo {
             width: 400px;
            height: 200px;
            margin-left: auto; 
            margin-right: auto;
            -webkit-filter: invert(100%);
            filter: invert(100%);
            background-image: url("../../The_Elements/Images/SVG/Desktop.svg");
            background-repeat: no-repeat;
            background-position: 50%;
        }        
    }
            
@media only screen and (max-width: 580px) {
    div.logo {
            width: 350px;
            height: 150px;
            margin-left: auto; 
            margin-right: auto;
            -webkit-filter: invert(100%);
            filter: invert(100%);
            background-image: url("../../The_Elements/Images/SVG/Skull.svg");
            background-repeat: no-repeat;
            background-position: 50%;
    } 
}
@media only screen and (max-width: 400px) {
    div.logo {
           width: 150px;
           height: 200px;
           margin-left: auto; 
           margin-right: auto;
           -webkit-filter: invert(100%);
           filter: invert(100%);
           background-image: url("../../The_Elements/Images/SVG/Handset.svg");
           background-repeat: no-repeat;
           background-position: 50%;
   } 
}
@media only screen and (max-width: 350px) {
    div.logo {
           width: 200px;
           height: 100px;
           margin-left: auto; 
           margin-right: auto;
           -webkit-filter: invert(100%);
           filter: invert(100%);
           background-image: url("../../The_Elements/Images/SVG/Handset.svg");
           background-repeat: no-repeat;
           background-position: 50%;
   } 
}
@media only screen and (max-width: 300px) {
    div.logo {
           width: 150px;
           height: 70px;
           margin-left: auto; 
           margin-right: auto;
           -webkit-filter: invert(100%);
           filter: invert(100%);
           background-image: url("../../The_Elements/Images/SVG/TerminalNode.svg");
           background-repeat: no-repeat;
           background-position: 50%;
   } 
}

/* -----------------------------------------------------------------
    - General
----------------------------------------------------------------- */
*{
    padding: 0;
    margin: 0;
}

.fillScreen {
    width:100%;
    height:100%;
    min-width: 320px;
    min-height: 480px;
    overflow: hidden;
}

/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */
@font-face {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    src: local('Overlock'), local('Overlock'), url(Artista/The_Styles/Fonts/True_Type_Fonts/Overlock/Overlock-Regular.ttf) format('truetype');
  }

  body {
    background-color: #111111;
    color: black;
    font-family: "Overlock", sans-serif;
    font-weight: 200;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
 }

@media only screen and (max-width: 800px) {
    body {
        background-color: #111111;
         background-image: none; }
         }

 @media only screen and (max-width: 580px) {
    body {
        background-color: white#111111;
        background-image: none; }
     }
     
    .fooBar {
        font-family: 'englebert';
    }

    /* -----------------------------------------------------------------
    - Sections
    ----------------------------------------------------------------- */
    .content {
        display: block;
        position: relative;
        background-color: black;
        z-index: 2;
    }
    
    .content table {
	    position: relative;
	    text-align: center;
	    padding-bottom: 100px;
	    margin: 0;
    }

    /* Content Display Area*/
    .content p{
        position: relative;
        font-family: 'englebert', sans-serif;
	    font-weight: 300;
	    font-size: 18px;
	    color: white;
	    width: 800px;
	    padding: 10px;
	    margin: 0 auto;
    }

    @media only screen and (max-width: 800px) {
        .content p{
            color: white;
            width: 500px;      
        }
    }
    
     @media only screen and (max-width: 580px) {
        .content p{
            color: white;
            width: 400px;   
            font-size: 16px;   
        }
    }
    @media only screen and (max-width: 400px) {
        .content p{
            color: white;
            width: 300px;   
            font-size: 16px;   
        }
    }
    @media only screen and (max-width: 350px) {
        .content p{
            color: white;
            width: 280px;   
            font-size: 16px;   
        }
    }
    @media only screen and (max-width: 300px) {
        .content p{       
            overflow: scrollable;     
            color: white;
            width: 220px;   
            font-size: 16px;   
        }
    }
    /*------------------------------------------------------------------------------*/

    .content .menu {
        position: absolute;
        bottom: -100px;
        width: 100%;
        border-top: 1px solid #ededed;
        z-index: 100;
        background-color: black;
    }
    @media only screen and (max-width: 800px) {
        .content .menu {
            position: absolute;
        }
    }
    @media only screen and (max-width: 580px) {
        .content .menu {
            position: absolute;
        }
    }

    .content .menu ul {
        display: block;
        width: 640px;
        margin: 36px auto 0;
        text-align: center;
        font-size: 20px;
    }
    @media only screen and (max-width: 800px) {
        .content .menu ul {
            width: 400px;
            font-size: 18px;
        }  
    }
    @media only screen and (max-width: 580px) {
        .content .menu ul {
            width: 400px;
            font-size: 16px;
        }  
    }
    @media only screen and (max-width: 400px) {
        .content .menu ul {
            width: 380px;
            font-size: 16px;
            display: block;
        }  
    }
    @media only screen and (max-width: 350px) {
        .content .menu ul {
            width: 320px;
            font-size: 16px;
            display: block;
        }  
    }
    @media only screen and (max-width: 300px) {
        .content .menu ul {
            width: 280px;
            font-size: 16px;
            display: block;
        }  
    }

    .content .menu li {
        display: inline-block;
    }

    .content .menu a {
        display: block;
        /*font-family: 'Lato', sans-serif;*/
        color: white;
        padding: 6px;
    }

    .content .menu a:hover {
        color: greenyellow;
    }

/* -----------------------------------------------------------------
    - Contact
--------------------------------------------------------------------*/
.contact a {
	color: white;
}

.contact a:hover {
	color: greenyellow;
}

/* social */
.pin-btn span {
	width: 40px !important;
	height: 20px !important;
	margin: 0 !important;
}

.contact.outer{
	position: absolute;
	top: -302px;
	left: 0;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #dcdcdc;
	background-color: black;
	z-index: 200;
}

.contact.inner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	/*background-color: #faf;*/
}

.contact.inner #map-canvas{
	width: 66%;
	height: 100%;
	background-color:black;
}

@media (max-width: 749px) {

    .contact.inner #map-canvas{
        width: 0;
        background-color: black;
    }

    .contact.inner #contactInfo{
		width: 100%;
	}

}



.contact.inner #contactInfo{
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	
	/*font-family: 'Lato', sans-serif;*/
	font-weight: 300;
	font-size: 14px;
	color: white;
}
@media (max-width: 800px) {

    .contact.inner #contactInfo
    {
		width: 100%;
	}

}

.contact.inner #contactInfo img {
    display: block;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.contact.inner #contactInfo span {
	display: block;
	position: absolute;
	bottom: -30px;
	left: 0;
	opacity: 0;
	
	-webkit-transition: bottom .6s ease-in-out, opacity .6s ease-in-out;
	-moz-transition: bottom .6s ease-in-out, opacity .6s ease-in-out;
	transition: bottom .6s ease-in-out, opacity .6s ease-in-out;
}


.contact.inner #contactInfo span.info2 {
	-webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
	transition-delay: .1s;
}

.contact.inner #contactInfo span.info3 {
	-webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
	transition-delay: .2s;
}

.contact.inner #contactInfo span.info4 {
	-webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
	transition-delay: .3s;
}

.contact.inner #contactInfo span.info5 {
	-webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
	transition-delay: .4s;
}

.contact.inner #contactInfo span.info1.loaded {
	opacity: 1;
	bottom: 225px;
}

.contact.inner #contactInfo span.info2.loaded {
	opacity: 1;
	bottom: 195px;
}

.contact.inner #contactInfo span.info3.loaded {
	opacity: 1;
	bottom: 135px;
}

.contact.inner #contactInfo span.info4.loaded {
	opacity: 1;
	bottom: 105px;
}

.contact.inner #contactInfo span.info5.loaded {
	opacity: 1;
	bottom: 75px;
}


.contact.inner #contactInfo_close {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 44px;
	height: 44px;
	margin-top: -22px;
}

.contact.inner #contactInfo_close img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	-webkit-transition: -webkit-transform .6s ease-in-out;
	-moz-transition: -moz-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
}

.contact.inner #contactInfo_close:hover img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
	
	-webkit-transition: -webkit-transform .6s ease-in-out;
	-moz-transition: -moz-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
}
